tr.low-rating, tr.low-rating td {
    background-color: #dbb3ad !important;
    font-weight: bold;
}

table td , table th {
    background-color: #c7e9ed !important;   
}
table th {
    background-color: #42a2ac !important;
    color: white;
}

.success {
    color: green;
}

.error {
    color: red;
}

body{
    background-color: #c7e9ed !important;
}
.btn {
    background-color: #034c54 !important;
    color: white; 
}
